/* elements */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,em,img,strike,strong,sub,sup,tt,b,u,i,ol,ul,li,form,table,tbody,tfoot,thead,tr,th,td,p,h1,h2,h3,h4{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	font-family: Roboto-Regular, arial, sans-serif;
}


/* IDS */

#wrapper
{
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}

#header
{
	text-align: center;
	width: 100%;
}

#logo
{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* CLASSES */

.job-div
{
	padding: 10px;
	display: inline-block;
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

.col1 {width: 140px; padding-left: 10px; padding-right: 10px;}
.col2 {width: 300px; padding-left: 10px; padding-right: 10px;}
.col3 {width: 460px; padding-left: 10px; padding-right: 10px;}
.col4 {width: 620px; padding-left: 10px; padding-right: 10px;}
.col5 {width: 780px; padding-left: 10px; padding-right: 10px;}
.col6 {width: 940px; padding-left: 10px; padding-right: 10px;}

.clear
{
	clear: both;
}