/* ELEMENTS */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,em,img,strike,strong,sub,sup,tt,b,u,i,ol,ul,li,form,table,tbody,tfoot,thead,tr,th,td,p,h1,h2,h3,h4{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	font-family: Roboto-Regular, arial, sans-serif;
}

hr
{
	border: 0;
	border-top: 1px solid #d3d3d3;
}

a
{
	cursor: pointer;
	color: #000;
}

/* IDS */

#header
{
	text-align: center;
	width: 100%;
}

#header_bar
{
	position:fixed;
	width: 100%;
	top:0px;
	background-color: #FFF;
	z-index: 2;
	border-bottom: 1px solid #c4c4c4;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07);
	color: #444;
	height: 42px;
	text-align:center;
}

#logo
{
	line-height: 42px;
	font-size: 20px;
	display: inline-block;
	width: 220px;
}

#filters
{
	
}

/* CLASSES */
.wrapper
{
	padding-left: 10px;
	width: 980px;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

.wrapper_tight
{
	padding-left: 0px;
	width: 960px;
	margin: 0px;
}

/* JOB DIV STYLE ON HOME PAGE */
.job-div
{
	position: relative;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	border: 1px solid #000000;
	color: #222222;
	background-color: #fff;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07);
	color: #444;
	float: left;
	z-index: -200;
}

.job-text-div, .job-title-div, .job-buttons-div, .job-inner-text-div
{
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
	font-size: 14px;
	float: left;
}

.job-text-div
{
	padding-left: 10px;
}

.job-inner-text-div
{
	width: 720px;
}

.job-title-div
{
	font-weight: bold;
	font-size: 20px;
	display: block;
}

.job-buttons-div
{
	vertical-align: bottom;
	position: absolute;
	bottom: 10px;
	right: 10px;
	opacity: 0;
	transition: 0.25s;
}

.job-image-thumbnail, .job-big-image-thumbnail
{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07);
}

.job-date-start, .job-date-end, .job-date-dash
{
	display: inline-block;
	float: left;
}

.job-date-dash
{
	width: 160px;
	text-align: center;
	float: center;
}

.job-date-start
{
	width: 290px;
}

.job-date-end
{
	width: 290px;
	float: right;
	text-align: right;
}

.job-date-box
{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 10px;
	background-color: #eee;
	z-index: -101;
}

.job-date-bar
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	background-color: #2f96ff;
	height: 100%;
	width: 75%;
	z-index: -100;
}

.job-div:hover .job-buttons-div
{
	opacity: 1;
	transition: 0.25s;
}

/* JOB DIV STYLE ON JOB PAGE */
.job-big-image-thumbnail
{
	width: 455px;
	height: 455px;
	
	float: left;
}

.job-big-date-start, .job-big-date-end, .job-big-date-dash
{
	display: inline-block;
	float: left;
}

.job-big-date-dash
{
	width: 160px;
	text-align: center;
	float: center;
}

.job-big-date-start
{
	width: 390px;
}

.job-big-date-end
{
	width: 390px;
	float: right;
	text-align: right;
}

.job-big-date-box
{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 10px;
	background-color: #eee;
	z-index: -101;
}

.job-big-date-bar
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	background-color: #2f96ff;
	height: 100%;
	width: 75%;
	z-index: -100;
}

/* STANDARD CLASSES */
.no-bottom-padding
{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.no-top-padding
{
	padding-top: 0px;
	margin-top: 0px;
}

.inline_link
{
	color: #2f96ff;
	display: inline_block;
	float:right;
}

.elipsis
{
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

/* COLLOMN SET UP */
.col1, .col2, .col3, .col4, .col5, .col6
{
	display: inline-block;
	float: left;
	vertical-align: top;
}

.col1 {width: 140px; padding-left: 10px; padding-right: 10px;}
.col2 {width: 300px; padding-left: 10px; padding-right: 10px;}
.col3 {width: 460px; padding-left: 10px; padding-right: 10px;}
.col4 {width: 620px; padding-left: 10px; padding-right: 10px;}
.col5 {width: 780px; padding-left: 10px; padding-right: 10px;}
.col6 {width: 940px; padding-left: 10px; padding-right: 10px;}

.clear
{
	clear: both;
}